@*@model StudentEditViewModel*@

<div class="col-4 form-check border">
    <button class="btn btn-primary float-end" data-toggle="modal" data-target="#Modal1">Yeni Öğrenci</button>

    <label class="form-label">Öğrenci Formu</label>
    <label class="form-label">Ad Soyad</label>
    <input type="text" class="form-control" value="@Model.FirstName + @Model.LastName" />

    <label class="form-label">Bölüm</label>

    @*<select asp-for="Department" asp-items="@Model.Departments" class="form-select">
        <option value="@Model.Department"></option>
    </select>

    <label class="form-label">Hobiler</label>

    <select asp-for="Hobbys" asp-items="@Model.Hobbies" class="form-select">
        <option value="@Model.Hobbys"></option>
    </select>

    <label class="form-label">Sınıf Öğretmeni</label>

    <select asp-for="MainTeacher" asp-items="@Model.MainTeachers" class="form-select">
        <option value="@Model.MainTeacher"></option>
    </select>

    <label class="form-label">Rehber Öğretmeni</label>

    <select asp-for="GuideTeacher" asp-items="@Model.GuideTeachers" class="form-select">
        <option value="@Model.GuideTeacher"></option>
    </select>*@

    <button type="submit" class="btn btn-primary float-end">Kaydet</button>

</div>

<partial name="_CreateStudentsPartial" />
