@using SchoolApp.Entities;
@model List<Student>

<form method="post">
    <div class="row border">
        <div class="col-8 form-check">
            <div class="col-12 d-flex">
                <label class="form-label">Filtre</label>
                <input type="text" class="form-control" placeholder="Ara" />

                <select class="form-select">
                    <option value="" selected>Seçiniz</option>
                    <option value="" selected>Seçiniz</option>
                </select>
                <select class="form-select">
                    <option value="" selected>Seçiniz</option>
                    <option value="" selected>Seçiniz</option>
                </select>
                <button class="btn btn-primary">Ara</button>
            </div>
            <div class="col-12 mt-3 me-2">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Ad Soyad</th>
                            <th>Bölüm</th>
                            <th>Hobiler</th>
                            <th>Sınıf Öğretmeni</th>
                            <th>Rehber Öğretmeni</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (Student item in Model)
                            {
                                <td>@item.FirstName</td>
                                <td>@item.Department</td>
                                @for (int i = 0; i < @item.Hobbys.Count; i++)
                                {
                                    <td>
                                        @item.Hobbys
                                    </td>
                                }
                                <td>@item.MainTeacher</td>
                                <td>@item.GuideTeacher</td>
                                <td><a href="">Detayı Sil</a></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <partial name="_EditStudentsPartial" />
</form>

